.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  background-size: cover;
  height: 100vh;
}

.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 2rem;
  font-weight: 500;
  margin-top: 5rem;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
}

.arrow-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 15rem;
}

.username {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
}

.company {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 1.1rem;
}

.description {
  text-align: center;
  color: #171f46;
  font-family: 'Roboto';
  font-size: 1.1rem;
}
